<div class="contenitore">
  <form class="titolo">
      <h3 class="display">MACCHINE</h3>
  </form>
</div>
<div class="contenitore">
  <app-macchine *ngFor=" let macchina of macchine" [macchine] = 'macchina' ></app-macchine>
</div>
<div class="Bottoni">
    <button (click)="OrdinaMacchineP1()">ordina dal piu economico</button>
    <h1 *ngFor="let macchina of macchine"></h1>
    <button (click)="OrdinaMacchineP2()">ordina dal piu costoso</button>
    <h1 *ngFor="let macchina of macchine"></h1>

    

    <button (click)="OrdinaMacchineVM1()">ordina dal piu veloce</button>
    <h1 *ngFor="let macchina of macchine"></h1>
    
    <button (click)="OrdinaMacchineVM2()">ordina per meno veloce</button>
    <h1 *ngFor="let macchina of macchine"></h1>
    
</div>